USE [master]
GO
/****** Object:  Database [huyltpd00924_ASS]    Script Date: 03/10/2016 08:00:03 ******/
CREATE DATABASE [huyltpd00924_ASS] ON  PRIMARY 
( NAME = N'huyltpd00924_ASS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\huyltpd00924_ASS.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'huyltpd00924_ASS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\huyltpd00924_ASS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [huyltpd00924_ASS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [huyltpd00924_ASS]
GO
/****** Object:  Table [dbo].[TPhongban]    Script Date: 03/10/2016 08:00:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TPhongban](
	[MaPhong] [char](10) NOT NULL,
	[TenPhong] [varchar](30) NOT NULL,
 CONSTRAINT [TPhongban_pk] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TNhanVien]    Script Date: 03/10/2016 08:00:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TNhanVien](
	[MaNV] [char](10) NOT NULL,
	[TenNV] [varchar](30) NOT NULL,
	[Ngaysinh] [date] NOT NULL,
	[Gioitinh] [varchar](10) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[Mucluong] [int] NOT NULL,
	[MaPhong] [char](10) NOT NULL,
	[TPhongban_MaPhong] [char](10) NOT NULL,
 CONSTRAINT [TNhanVien_pk] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [TNhanVien_TPhongban]    Script Date: 03/10/2016 08:00:04 ******/
ALTER TABLE [dbo].[TNhanVien]  WITH CHECK ADD  CONSTRAINT [TNhanVien_TPhongban] FOREIGN KEY([TPhongban_MaPhong])
REFERENCES [dbo].[TPhongban] ([MaPhong])
GO
ALTER TABLE [dbo].[TNhanVien] CHECK CONSTRAINT [TNhanVien_TPhongban]
GO
